.Gradient {
    animation: movingBG 15s infinite;
    background-size: 200%;
    background-image: linear-gradient(90deg, purple, darkslateblue, deepskyblue, hotpink);
}

.Gradient_Album {
    animation: movingBG 15s infinite;
    background-size: 200%;
    background-image: linear-gradient(90deg, black, midnightblue);
}

.BlurEffect {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-size: cover;
    background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@keyframes movingBG{
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}