@model Productora.Web.Models.Artist

@{
    ViewBag.Title = "Details";
}

<body class="Gradient_Album">
    <div class="container" style="margin-top:80px;">
        <div class="card" style="width:50rem">
            <div class="card-header bg-dark text-white text-center">
                <h2>Detalles del artista</h2>
            </div>
            <div class="card-body" style="background-image:url(../../Content/img/Interface/Microphone.jpg); background-size:cover">
                <div class="text-white" style="margin-top:30px;">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="~/Content/img/ArtistsPictures/@Model.artimg" alt="..." class="card-img" height="152"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body bg-dark justify-content-center">
                                    <h5>Nombre real</h5>
                                    <div class="row">
                                        <div class="col-md-10">
                                            @Html.DisplayFor(model => model.FirstName)
                                            @Html.DisplayFor(model => model.LastName)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h5>Nombre artistico</h5>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-10">
                                            @Html.DisplayFor(model => model.StageName)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
